reflex>=0.4.7
openai>=1.14.0
pillow~=10.3.0
torch~=2.3.1
diffusers~=0.29.1
requests~=2.32.3
python-dotenv~=1.0.1
transformers
accelerate

# For CUDA:
# jax[cuda12_pip]==0.4.23 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html

# For other:
jax==0.4.23
jaxlib

git+https://github.com/justusjb/ledits_pp.git
